# Environments
.env
.env.local

# Logs
*.log

# Python / Dependencies
node_modules/
venv/
.venv/
__pycache__/
*.py[cod]
*.pyc

# Databases
*.db

# IDEs
.vscode/
.idea/
.claude/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
